<% provide :title,t("title.about")%>
<h1><%= t "title.about"%></h1>
<p>
  <%= link_to "http://www.railstutorial.org/" do %>
    <em>Ruby on Rails Tutorial</em>
  <% end %>
  <%= t "intro"%>
  <%= t "intro2"%>.
</p>
