<% provide :title, t("title.home") %>
<h1><%= t "title.sample" %></h1>
<p>
  <%= t "main"%>
  <%= link_to "http://www.railstutorial.org/" do %>
  Ruby on Rails Tutorial
  <% end %>
  <%= t "title.sample"%>.
</p>
